.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.logo-img {
    width: 35px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.info {
    display: flex;
}

.name {
    display: flex;
    align-items: center;
}

.user {
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
}

.nickname {
    font-size: 1.4rem;
    color: var(--text-color-rgba);
    line-height: 18px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
}

.tick {
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
    margin-left: 7px;
}
