.menu-list {
    width: 223px;

    .menu-item {
        width: 100%;
        margin-left: 0;
        justify-content: flex-start;
        border-radius: 0;
        font-weight: 600;
        line-height: 2.4rem;
        position: relative;

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}

// Menu item
