.search,
.search-result {
    width: 500px;
}

.search {
    --search-height: 46px;
    --search-button-width: 52px;

    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    position: relative;

    input {
        height: 100%;
        flex: 1;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: var(--font-family);
        caret-color: var(--primary);
        color: var(--text-color);
        &:not(:placeholder-shown) ~ .search-btn {
            color: rgba(22, 24, 35, 0.75);
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(var(--search-height) - 18px);
        top: 50%;
        right: var(--search-button-width);
        transform: translateY(-50%);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border: 1px solid rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    font-size: 1.4rem;
    color: var(--text-color-rgba);
    font-weight: 600;
    padding: 5px 12px;
}

.delete-btn,
.loading-btn {
    position: absolute;
    right: calc(var(--search-button-width) + 12px);
}

.search-btn {
    padding: 9px 14px;
    color: rgba(22, 24, 35, 0.34);
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    cursor: pointer;

    &:hover {
        color: rgba(22, 24, 35, 1);
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
